@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme {
  --color-primary: #5044E5;
}

/* Custom scrollbar hiding */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Smooth horizontal scrolling */
.horizontal-scroll {
  scroll-behavior: smooth;
}